<%- include('./partials/header') %>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const myDate = new Date('<%=selectedDate%>') || new Date();
    const picker = MCDatepicker.create({
      el: '#datepicker',
      selectedDate: myDate,
      disableWeekends: true,
      dateFormat: 'ddd, dd-mmmm-yy',
      minDate: new Date(),
      bodyType: 'inline',
      theme: {
        theme_color: '#161518',
        main_background: '#F5F5F6'
      }
    });
    picker.setFullDate(myDate);
    picker.onSelect((date, formatedDate) => {
      var selectedDate = date;
      window.location.replace(`/calendar?selectedDate=${date}`);
    });
  })
</script>
  <div class="calender-block">
    <h2>Schedule a Meeting</h2>
    <div class="datepicker-container">
      <input placeholder="Select a Date" id="datepicker" type="text">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-calendar" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
      </svg>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
      <% freeIntervals.forEach((interval) => { %>
        <div class="col-lg-2 col-md-3">
          <button onclick="window.location.replace(`/meeting?selectedInterval='<%= interval.interval %>'`)" type="submit" class="btn btn-outline-light cta cta-time"> <%= interval.formatedInterval %> </button>
        </div>
      <% }) %>
    </div>
  </div>
<%- include('./partials/header') %>
